.loader {
    height: 100%;
    align-content: center;
}

svg {
    max-width: 15em;
    stroke: rgba(201, 201, 201, 0.1);
    stroke-linecap: round;
    fill: none;
    stroke-width: 5%;
    width: 100%;
}

svg use {
    stroke: #495471;
    animation: animate 0.75s linear infinite
}

@keyframes animate {
    to {
        stroke-dashoffset: 0
    }
}